AnimeRecommenderWebSite/App_WebReferences/AnimeRecommenderWebService/Reco_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="String">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="watchhistory" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StringResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StringSoapIn">
    <wsdl:part name="parameters" element="tns:String" />
  </wsdl:message>
  <wsdl:message name="StringSoapOut">
    <wsdl:part name="parameters" element="tns:StringResponse" />
  </wsdl:message>
  <wsdl:portType name="Reco_ServiceSoap">
    <wsdl:operation name="UserWatchHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method returns recommended movies</wsdl:documentation>
      <wsdl:input name="String" message="tns:StringSoapIn" />
      <wsdl:output name="String" message="tns:StringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Reco_ServiceSoap" type="tns:Reco_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserWatchHistory">
      <soap:operation soapAction="http://tempuri.org/String" style="document" />
      <wsdl:input name="String">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="String">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Reco_ServiceSoap12" type="tns:Reco_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserWatchHistory">
      <soap12:operation soapAction="http://tempuri.org/String" style="document" />
      <wsdl:input name="String">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="String">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reco_Service">
    <wsdl:port name="Reco_ServiceSoap" binding="tns:Reco_ServiceSoap">
      <soap:address location="http://localhost:58804/Reco_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Reco_ServiceSoap12" binding="tns:Reco_ServiceSoap12">
      <soap12:address location="http://localhost:58804/Reco_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>